@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --redColor: #EB3539;
    --lightColor: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    font-size: 62.5%;
    overflow-x: hidden;
}

#nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    background: #fff !important;
    z-index: 2;
}
.navbar .container-fluid{
    padding: 0 !important;
}
.navbar-brand{
    top: 0;
    z-index: 10;
}
.navbar-brand .logo{
    height: 50px;
    width: 240px;
    margin-left: 120px;
}

.navbar-nav li{
    padding: 0 15px;
}

.navbar-nav li a{
    float: right;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#nav-bar ul{
    margin-left: auto;
}

.navbar {
    background: var(--lightColor) ;
}
.navbar .btn{
    padding: 6px 25px !important;
    font-size: 14px !important;
}


.btn{
    display: inline-block;
    padding: 8px 45px !important;
    background: var(--redColor) !important;
    cursor: pointer;
    font-size: 16px;
    border-radius: 19px !important;
    color: #FFFFFF !important;
}

.top{
    margin-top: 100px;
}

/*------------------- home styling----------------------- */
.main{
    position: relative;
}

.main .wrapper{
    background: rgba(235, 53, 57, 0.15);
    height: 100vh;
}

.main .wrapper .text{
    width: 55%;
    padding: 150px 0px 80px 140px;
}

.main img{
    width: 515px;
    height: 547px;
    left: 62%;
    top: 67px;
    position: absolute;
}

.main .wrapper .text h2{
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgba(235, 53, 57, 1);
}
.main .text .big{
    font-size: 17px !important;
    font-weight: 600;
    padding: 10px 0;
}
.main .wrapper .text p{
    font-size: 14px;
}

.main .text .ads span{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: red;
}
.main .btn{
    font-size: 15px;
}
/* ------------------detail styling------------- */
.detail .row .box{
    flex: 1 1 3rem;
    position: relative;
    width: 300px;
    height: 200px;
    background-color: rgba(235, 53, 57, 0.5);
    float: left;
    margin: 15px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(235, 53, 57, 0.15) 0px 10px 15px -3px, rgba(235, 53, 57, 0.15) 0px 4px 6px -2px;
}
.detail .row .box .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lightColor);
    transition: 0.5s;
    z-index: 1;
}
.detail .row .box:hover .image{
    top: 10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.detail .row .box .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 45px;
    object-fit: contain;
    width: 45px;
    transition: 0.5s;
}
.detail .row .box .image h3{
    position: absolute;
    top: 78%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: var(--redColor);
    transition: 0.5s;
}
.detail .row .box:hover .image img{
    height: 30px;
    width: 30px;
}
.detail .row .box:hover .image h3{
    display: none;
}
.detail .row .box .text{
    position: absolute;
    padding: 25px;
    text-align: center;
    height: calc(100% - 50px);
    width: 100%;
    top: 100%;
    transition: 0.5s;
    opacity: 0;
    font-size: 15px;
    font-weight: 550;
    line-height: 18px;
    color: #FFFFFF;
}
.detail .row .box:hover .text{
    top: 70px;
    opacity: 1;
}
.detail .row .box .text h3{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 9px;
    color: var(--redColor);
}


.heading{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: var(--redColor);
    text-transform: uppercase;
    margin: 90px 0;
} 

/* -----------------specialty styling--------- */

.category .row .box{
    padding: 0;
    width: 208px;
    height: 280px;
    margin: 10px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(235, 53, 57, 0.15) 0px 10px 15px -3px, rgba(235, 53, 57, 0.15) 0px 4px 6px -2px;
    transition: all 0.3s linear;
}

.container-fluid{
    padding: 0 100px !important;
}
.category .row .box:hover{
    transform: scale(1.05);
}

.category .row .box img{
    width: 100%;
    height: 60%;
}

.category .row .box .text{
    padding: 10px 5px;
    text-align: center;
}

.category .row .box .text h3{
    font-size: 18px;
    font-weight: 600;
    color: var(--redColor);
    text-transform: uppercase;
}

.category .row .box .text p{
font-size: 12px;
font-weight: 500;
}

/* ------------------ads styling-------------- */

.ads .container-fluid{
    padding: 0 !important;
}
.ads .container-fluid img{
    width: 100%;
    height: 560px;
}


/* .ads .container-fluid .advert{
    background: url('img/img2Ori.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
    height: 670px;
} */

/* ---------------------gallery styling----------------- */
.gallery .row{
    justify-content: center;
}
.gallery .row img{
    width: 100%;
}

.gallery .row .box{
    padding: 0;
    width: 198px;
    height: 225px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: rgba(235, 53, 57, 0.15) 0px 10px 15px -3px, rgba(235, 53, 57, 0.15) 0px 4px 6px -2px;
}
.gallery .row .text{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 11px 9px 0;
    grid-column-gap: 5px;
}
.gallery .row .text i{
    justify-self: center;
    align-self: center;
    grid-row: span 2;
    font-size: 40px;
    color: var(--redColor);
    cursor: pointer;
}
.show{
    display: none;
}


.gallery .row .text h3{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}
.gallery .row .text h4{
    color: var(--redColor);
    justify-items: start;
    margin-right: auto;
    font-size: 14px;
    font-weight: 600;
}


.bSpace{
    display: flex;
}

.bSpace a{
    margin-left: auto;
}

/* --------------------store gallery styling-------- */

.store .Gwrapper{
    padding: 0 150px;
    height: 180vh;
}

.store .images{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;

    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}
.store .images > div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg1, .bg5{
    grid-column: 1/3;
}
.bg4{
    grid-column: 2/4;
}
/* -----------------------------------reveiw styling----------------------------- */

.review .carousel .bigC{
    background: #fff;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
}

.review .carousel .bigC .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.review p{
    font-size: 11px;
}
.review .carousel .bigC .box .text{
    font-size: 16px;
    font-weight: 600;
    color: crimson;
    margin: 10px 0 7px;
}


.review .carousel .bigC img{
    height: 150px;
    width: 150px;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;

}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: rgba(235, 53, 57, 0.5) !important;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson !important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
    background-color: var(--redColor) !important;

}

span,.stars{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: var(--redColor);
}


/* ------------------------footer styling------------------- */
.footer{
    margin-top: 120px;
}
.footer .container-fluid{
    padding: 60px 2px !important;
    background-color: var(--redColor);
}

.foot .iner{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 40px 80px;
    gap: 170px;
}
.foot .iner .right h1{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    font-family: serif;
}
.foot .iner .right p{
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color: #fff;
}
.footer .iner .left{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.footer .left a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 8px;
}
.footer .left h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
}
.footer .left .socials{
    display: flex;
    justify-content: space-between;
}
.footer .left i{
    font-size: 30px;
    color: #fff;
}

/* -----------------animation-------------------- */


.main .text .ads span,
.wrapper .text h2, #nav-bar,
.btn{
    animation: fadeIn 300ms forwards;
    opacity: 0;
    animation-delay: 800ms;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

/* ------------------------responsiveness--------------- */
@media (max-width: 1100px) {
    html{
        font-size: 55%;
    }
    .navbar-nav li a{
        font-size: 12px;
    }
    .main{
        height: 50vh;
    }
    .main .wrapper{
        height: 50vh;
        padding: 120px 0 60px;
    }
    .main .wrapper .text h2{
        font-size: 30px;
    }
    .main .wrapper .text{
        padding: 40px 0px 10px 70px;
    }
    .detail .top{
        margin-top: 110px !important;
    }
    .container-fluid{
        padding: 0 32px !important;
    }
    .category .row .box{
        width: 170px;
        height: 250px;
        margin: 8px;
    }
    .show{
        display: inline;
    }
    .category .row .box .text h3,
    .detail .row .box .image h3{
        font-size: 15px;
    }
    .category .row .box .text p{
    font-size: 9px;
    font-weight: 500;
    }
    .store .Gwrapper {
        padding: 0 10px;
        height: 80vh;
    }
    .foot .iner{
        padding: 30px 70px;
        gap: 70px;
    }
    .foot .iner .right h1{
        font-size: 50px;
        font-weight: 600;
    }
    .foot .iner .right p{
        font-size: 15px;
        font-weight: 500;
    }
    .footer .iner .left{
        width: 480px;
    }
    .footer .left a{
        font-size: 13px;
        font-weight: 500;
        padding: 7px;
    }
    .footer .left h2{
        font-size: 18px;
        line-height: 20px;
    }
    .footer .left .socials{
        display: flex;
        justify-content: space-between;
    }
    .footer .left i{
        font-size: 20px;
        color: #fff;
    }
}

@media (max-width: 780px) {
    ul .btn{
        padding: 2px 15px !important;
        font-size: 10px !important;
    }
    .heading{
        margin: 50px 0;
    }
    
    html{
        font-size: 50%;
    }
    .logo{
        margin-left: 35px !important;
    }
    .navbar-light .navbar-toggler {
        border-color: var(--redColor) !important;
        margin: 0 40px;
    }
    .main .wrapper .text h2{
        font-size: 25px;
    }
    .main .wrapper{
        padding: 100px 0 0;
    }
    .main .wrapper .text{
        padding: 40px 0px 15px 70px;
    }
    .main img{
        width: 405px;
        height: 428px;
    }
    .main .text .big{
        font-size: 16px !important;
        font-weight: 600;
    }
    .top{
        padding-top: 70px;
    }
    .container-fluid{
        padding: 0 15px !important;
    }

    .detail .row .box{
        height: calc(180px - 25px);
        margin: 10px;
    }
    
    .detail .row .box:hover .image{
        width: 45px;
        height: 45px;
    }
    .detail .row .box .image img{
        height: 35px;
        width: 35px;
    }
    
    .detail .row .box:hover .image img{
        height: 20px;
        width: 20px;
    }
    .detail .row .box .text{
        padding: 15px;
        height: calc(100% - 20px);
        font-size: 12px;
        font-weight: 500;
        line-height: 13px;
    }
    .detail .row .box:hover .text{
        top: 60px;
    }
    .detail .row .box .text h3{
        font-size: 15px;
    }

    .category .container-fluid{
        padding: 0 110px !important;
    }
    .category .row .box{
        width: 170px;
        height: 250px;
        margin: 8px;
    }
    .category .row .box .text h3,
    .detail .row .box .image h3{
        font-size: 13px;
    }
    .category .row .box .text p{
    font-size: 9px;
    font-weight: 500;
    }

    .ads .container-fluid img{
        height: 390px;
    }

    .gallery .row .box{
        width: 156px;
        height: 204px;
    }
    .gallery .row .text h3{
        font-size: 11px;
    }
    .store .Gwrapper{
        height: 80vh;
    }
    .store .images{
        padding: 0 0 30px;
        grid-auto-rows: 250px;
    }
    .foot .iner{
        padding: 20px 50px;
        gap: 50px;
    }
    .foot .iner .right h1{
        font-size: 40px;
        font-weight: 600;
    }
    .foot .iner .right p{
        font-size: 14px;
        font-weight: 500;
    }
    .footer .iner .left{
        width: 400px;
    }
    .footer .left a{
        font-size: 13px;
        font-weight: 500;
        padding: 5px;
    }
    .footer .left h2{
        font-size: 16px;
        line-height: 18px;
    }
    .footer .left .socials{
        display: flex;
        justify-content: space-between;
    }
    .footer .left i{
        font-size: 18px;
        color: #fff;
    }
}

@media (max-width: 450px) {
    .main img{
        display: none;
    }
    .detail .top{
        margin-top: 100px !important;
    }
    html{
        font-size: 55%;
    }
    .logo{
        margin-left: 20px !important;
        height: 40px !important;
        width: 150px !important;
    }
    .main{
        height: 70vh;
    }
    
    .main .wrapper{
        padding: 70px 0 0;
        height: 70vh;
        background: linear-gradient(rgba(235, 53, 57, .4), rgba(235, 53, 57, .4)), url('img/bg1.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }
    .main .text .ads span{
        color: green;
    }
    .main .wrapper .text{
        width: 100%;
        padding: 75px 10px 75px 35px;
    }
    .main .text .big{
        font-size: 15px !important;
    }
    .main .wrapper .text h2{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
        color: #fff ;
        font-style: italic;
    }
    .main .wrapper .text p{
        font-size: 12px;
        color: #FFFFFF;
    }

    .top{
        padding: 70px 0 40px;
        margin-top: 60px;
    }
    .ads .container-fluid img{
        height: 240px;
    }
    .ads.top{
        padding: 20px 0 20px;
    }

    .detail .row .box{
        flex: 1 1 18rem;
        height: calc(150px - 25px);
    }
    
    .detail .row .box:hover .image{
        left: calc(50% - 20px);
        top: 7px;
        width: 35px;
        height: 35px;
    }
    .detail .row .box .image img{
        height: 25px;
        width: 25px;
    }
    
    .detail .row .box:hover .image img{
        height: 20px;
        width: 20px;
    }
    
    .detail .row .box:hover .text{
        top: 40px;
    }
    
    .heading{
        font-weight: 600;
        font-size: 18px;
    } 

    .owl-dot{
        height: 9px;
        width: 9px;
    }
    .category .container-fluid{
        padding: 0 14px !important;
    }

    .gallery .row .box {
        width: 180px;
        height: 197px;
        margin: 8px;
    }
    .store .images {
        grid-auto-rows: 180px;
        padding: 0 0 10px;
        grid-gap: 5px;
    }
    .store .Gwrapper {
        height: 80vh;
    }
    .footer{
        margin-top: 40px;
    }
    .footer .container-fluid{
        padding: 40px 0 !important;
    }
    .foot .iner{
        padding: 20px 60px;
        gap: 40px;
    }
    .foot .iner .right h1{
        font-size: 30px;
    }
    .foot .iner .right p{
        font-size: 12px;
    }
    .footer .iner .left{
        width: 300px;
    }
    .footer .left a{
        font-size: 10px;
        font-weight: 500;
        padding: 3px;
    }
    .footer .left h2{
        font-size: 11px;
    }
    .footer .left i{
        font-size: 14px;
        color: #fff;
    }
}

@media (max-width: 380px) {
    .category .container-fluid{
        padding: 0 88px !important;
    }

    .btn{
        padding: 4px 25px !important;
    }

    .gallery .row .box{
        width: 150px;
        height: 178px;
        margin: 10px;
    }
    .main{
        height: 65vh;
    }
    .main .wrapper{
        padding: 60px 0 0;
        height: 65vh;
    }
    .main .text .ads span{
        color: green;
    }
    .main .wrapper .text{
        width: 100%;
        padding: 45px 10px 75px 35px;
    }
    .main .text .big{
        font-size: 12px !important;
    }
    .ads .container-fluid img{
        height: 210px;
    }
    .main .wrapper .text h2{
        font-size: 20px;
    }
    .store .images {
        grid-auto-rows: 130px;
    }
    .review .carousel .bigC .box .text, .heading{
        font-size: 13px;
    }
    .store .Gwrapper {
        height: 70vh;
    }
    .foot .iner{
        padding: 10px 25px;
        gap: 40px;
    }
}

@media (max-width: 320px) {
    .detail .top{
        margin-top: 55px !important;
    }
    .main{
        height: 70vh;
    }
    .main .wrapper{
        height: 70vh;
    }
    .review .carousel .bigC .box .text, .heading{
        font-size: 13px;
    }
    .main .wrapper .text{
        padding: 30px 10px 75px 35px;
    }
    .gallery .row .box{
        width: 136px;
        height: 165px;
        margin: 7px;
    }
    .ads .container-fluid img{
        height: 170px;
    }
    .store .images {
        grid-auto-rows: 100px;
    }
    .category .container-fluid{
        padding: 0 50px !important;
    }

}